<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <appSettings>
    <add key="servicestack:license" value="1392-e1JlZjoxMzkyLE5hbWU6Q0ggUm9iaW5zb24gV29ybGR3aWRlLFR5cGU6QnVzaW5lc3MsSGFzaDpVS3NVejBXYWhpM3lraDNGdFRiSTZjVVRKcStYVjhabFdER0ZVUm1sR2x5TEZEcENXYStvWHFjL3Q2Vm5veEg1U2t1MmE4cXdhMTNoWXVDb0pVTGhiZTdBdm9wNk9PeHVmYzMraEJVcTREaWZkbS96d2Y2RUtoSmkvWVdOWE5sdmdqS1ZZNVZYbEl0RjVlZzNYNHRCUGRJZmU5R1c0SWNEanlOdnRqaUlKR0k9LEV4cGlyeToyMDE1LTAzLTI2fQ==" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpHandlers>
      <add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
</configuration>